.layout-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  box-sizing: border-box;            
  border: 5px solid green;
  background-color: #c7f0c7;
}

.section-top {
  background-color: #add8e6;
  border: 6px solid blue;
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 35px;
}

.section-middle {
  display: flex;
  flex: 2;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 0px;
}

.section-bottom {
  background-color: #add8e6;
  border: 6px solid blue;
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 20px;
}

.box-side-top {
  flex: 1;
  background-color: #fce0c5;
  border: 6px solid #f78072;
}

.box-center-top {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 8px;  
  background-color: #fce0c5;
  border: 6px solid #f78072;
}

.box-center-top-content {
  flex: 1;
  border: 6px solid red;
  background-color: #fac0cb;
  padding: 10px;
  display: flex;     
  justify-content: center;
  align-items: center; 
  font-size: 40px;
  color: white;
}

.middle-left-box {
  flex: 1;
  background-color: #fabbbb;
  border: 6px solid #8b0000;
  margin-right: 12px;
}

.middle-right-box {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.right-box-upper {
  flex: 1;
  background-color: #fabbbb;
  border: 6px solid #8b0000;
  margin-bottom: 6px;
}

.right-box-lower {
  flex: 1;
  background-color: #fabbbb;
  border: 6px solid #8b0000;
  margin-top: 6px;
}

.box-side-bottom {
  flex: 5;
  background-color: #d4d4f7;
  border: 6px solid #6a5acd;
}

.box-center-bottom {
  flex: 3;
  background-color: #fce0c5;
  border: 6px solid #f78072;
  display: flex;       
  justify-content: center;
  align-items: center; 
  font-size: 40px;
  color: white;
}
